@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  form {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
  }

  button {
    @apply block mt-5 border border-blue-500 rounded-lg px-5 py-2 hover:bg-blue-500 hover:text-white transition-all duration-500;
  }
}

@layer components {
  .error {
    @apply text-red-500 text-sm m-0;
  }
  .error::before {
    content: "⚠ ";
  }
}
